@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  th:hover .swap {
    opacity: 1;
  }

  th .swap {
    opacity: 0;
  }
}